#edit-container {
  position: absolute;
  display: none;
  grid-template-areas:
    "fields fields"
    "tabs actions";
  grid-template-rows: 90% 10%;
  grid-template-columns: 75% 25%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 100vh;
  background-color: white;
}

#edit-container input {
  background-color: transparent;
  margin: 0;
  border: none;
}

#edit-fields-container {
  grid-area: fields;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3rem;
}

#edit-fields-container > .edit-field:not(#name-field) {
  display: none;
}

.edit-field {

}

#edit-highlighter {

}

#edit-tab-button-container {
  grid-area: tabs;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.edit-tab-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: lightblue;
}

#edit-actions {
  grid-area: actions;
}

#fields {
  height: calc(100% - 4rem);
  width: 100%;
  background-color: grey;
}

#edit-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#edit-actions > * {
  width: 50%;
  height: 4rem;
  margin: 0.4rem, 1.2rem;
  border-radius: 0.4rem;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}
#edit-cancel-button {
  background-color: red;
}

#edit-submit-button {
  background-color: green;
}
